name: Generate Javadoc

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  javadoc:
    name: Generate Javadoc
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build project & generate Javadoc
        working-directory: .
        run: |
          cd backend
          ./mvnw clean javadoc:javadoc -Dmaven.javadoc.failOnError=false
          rm -rf ../docs
          mv target/reports/apidocs ../docs

      - name: Commit and push changes
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "chore: update Javadoc"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}